body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}

.container{
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 50px;
    text-align: center;

}

input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-top: 12px;
  }
  
  .form .fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  .form button {
    background-color: #28a745; /* Green */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;

  }

ul{
    list-style: none;
    padding: 0;
}

li{
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}