.clock{
    display: flex ;
    gap: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}
.box span:first-child{
    font-size: 2rem;
    font-weight: bolder;
}

.text{
    font-size: 0.8rem;
    text-transform: uppercase;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1500964757637-c85e8a162699?q=80&w=2000&auto=format&fit=crop');
    background-size: cover;    /* Ensures the image doesn't repeat or stretch weirdly */
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    color: white;              /* Changes text to white */
    font-family: sans-serif;   /* Uses a clean, modern font */
    font-size: 1rem;         
    text-transform: uppercase; 
    margin-bottom: 20px;       
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

